.text-center{
	text-align: center;
}

.healthbar{
	width: 80%;
	height: 40px;
	background-color: #eee;
	margin: auto;
	transition: width 500ms;
}

.controls, .log{
	margin-top: 30px;
	text-align: center;
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0px 3px 6px #ccc;
}

.turn{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 22px;
}

.log ul{
	list-style: none;
	font-weight: bold;
	text-transform: uppercase;
}

.log ul li{
	margin: 5px;
}

.log ul .player-turn{
	color: #A1C5AB;
	background-color: #FDE6BD;
}

.log ul .monster-turn{
	color: #A1C5AB;
	background-color: #FDE6BD;
}

button{
	font-size: 20px;
	background-color: #eee;
	padding: 12px;
	box-shadow: 0 1px 1px black;
	margin: 10px;
}

#start-game{
	background-color: #A1C5AB;
}


#attack{
	background-color: #D11E48;
}


#special-attack{
	background-color: #632F53;
}


#heal{
	background-color: #F4DD51;
}


#give-up{
	background-color: #ffffff;
}
